body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 header{
   font-family: 'Lobster', cursive;
   background: linear-gradient(135deg, #ffcc99, #ff9966);
   background: url('img/background1.jpg') center/cover no-repeat, linear-gradient(135deg, #ffcc99, #ff9966);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0;
   position: relative;
 }
  /* Navbar */ 
  .navbar {
    background-color: #e7d4e5;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%; 
    z-index: 1000; 
    top: 0; 
    left: -10px;
  }
  
  .logo img {
    width: 140px;
    height: 40px;

  }
  
  .nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-right: 50px;
  }
  
  .nav-links li {
    display: inline;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .nav-links li:last-child {
    margin-right: 0;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #663300;
    transition: color 0.3s ease;
  }
  
  .nav-links li a:hover {
    color: #ffa64d;
  }
  
  .content {
    padding-top: 80px; 
  }

  /* Homepage */
  
  .title-container {
    width: 9.25em;
    height: 1.15em;
    font-size: 4rem;
    position: relative;
  }
  
  .title-container div {
    position: absolute;
    text-transform: uppercase;
    width: 100%;
    display: block;
    text-align: center;
  }
  
  .upper {
    top: 0;
    height: 52.5%;
    color: #d87777;
    overflow: hidden;
    z-index: 3;
    animation: moveUp 2.5s ease-in-out 1;
    background-color: #ecc7d1;
    border-radius: 10px;
  }
  
  .lower {
    bottom: 0;
    height: 100%;
    background: linear-gradient(180deg, #d87777 52.5%, #d87777 52.5%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    z-index: 1;
    animation: moveDown 2.5s ease-in-out 1;
    
  }
  
  .inside {
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    text-align: center;
    z-index: 2;
    font-size: 1rem;
    font-weight: bold;
    color: #a70b61;
  }
  
  @keyframes moveUp {
    0%,
    100% {
      top: 0;
    }
  
    50%,
    70% {
      top: -45px;
    }
  }
  
  @keyframes moveDown {
    0%,
    100% {
      top: 0;
    }
  
    50%,
    70% {
      top: 30px;
    }
  }
  
  @media (max-width: 424px) {
    .title-container {
      font-size: 2.5rem;
    }
  
    .inside {
      font-size: 0.75rem;
    }
  }
  
  @media (max-width: 320px) {
    .title-container {
      font-size: 2rem;
    }
  
    .inside {
      font-size: 0.5rem;
    }
  }
  
  .desserts-container {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
  }
  
  .dessert-item {
    background-color: #f3a5e9;
    color: #771140;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 22px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .dessert-item img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    margin-bottom: 5px;
  }
  
  .dessert-item:hover {
    transform: scale(1.1) rotate(10deg);
  }
  
  /* About Us  */
  main{
    height: 900px;
    background-color: #e6dcd7;
  }
  
  .about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
  }
  
  .content {
    flex: 1;
    max-width: 600px;
    padding-right: 50px;
    margin-bottom: 10%;
  }
  
  .animated-title {
    font-size: 50px;
    color: #a51313;
    margin-bottom: 30px;
    margin-left: 25px;
    animation: animateTitle 2s ease-in-out infinite;
  }
  
  @keyframes animateTitle {
    0%, 100% { 
      opacity: 0.8; 
      transform: scale(1);
    }
    50% { 
      opacity: 1; 
      transform: scale(1.1);
    }
  }
  
  
  .about-info {
    background-color: rgba(247, 173, 243, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .highlight {
    color: #f724d4;
    font-weight: bold;
    font-style: italic;
  }
  .about-info p {
    font-size: 22px;
    color: #a51313;
    line-height: 1.6;
    font-weight: bold;
  }
  
  .about-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background: linear-gradient(45deg, #f0ab88, #e9393c);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .about-btn:hover {
    background: linear-gradient(45deg, #e9393c, #f0ab88);
    transform: scale(1.05);
  }

  .image-gallery {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1000px;
    width: 100%;
  }
  
  .gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .gallery-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  
  .gallery-item:hover img {
    transform: scale(1.1);
    opacity: 0.8;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  